.bg-hero{
    background: url('../assets/Hero/hero-bg-4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inter{
    font-family: 'Inter', sans-serif;
}

